/* Estilos gerais  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, "Times New Roman", serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
}

.btn {
    border: 3px solid #FEC63E;
    padding: 10px 30px;
    color: #FEC63E;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.btn:hover {
    color: white;
    border-color: white;
}

.btn.btn-preto:hover{
    color: black;
    border-color: black;
}

.subtitulo {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 8px auto;
}

.subtitulo-interno {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: black;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitulo-interno:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 8px 0;
}

/* Header  */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #FEC63E;
    padding: 15px 0;
    z-index: 10;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

.header_menu ul li a{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: #FFF;
}


.header_menu ul li a.menu-ativo {
    color: #FFF;
}



/* Introdução */


.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 92px;
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.quote-externo {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #fff;
}

.quote-externo p {
    font-style: italic;
}


.quote-externo p:before, .quote-externo p:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}

/* Introdução principal */

.introducao-interna {
    width: 100%;
    margin-top: 92px;
    height: 160px;
    text-align: center;
    color: white;
}

.introducao-interna h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 30px;
}

.introducao-interna h1:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: white;
    margin: 6px auto 10px auto;
}

/* Produtos */

.produtos {
    padding: 60px 0;
}

.produtos_lista li{
    background: #FEC63E;
    text-align: center;
}

.produtos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;

}

.produtos_lista li p{
    padding: 10px 20px 20px 20px;

}

.produtos_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 2px auto;
}

.produtos_icone {
    background: black;
    padding: 40px;
}

.call{
    text-align: center;
    padding-top: 40px;
    clear: both;
}

.call p {
    margin-bottom: 20px;
}

/* Portifolo */

.portifolio{
    width: 100%;
    background: black;
    padding: 40px 0;
}

.portifolio .subtitulo{
    color: #FEC63E;
}

.portifolio .subtitulo:after{
    background: #FEC63E;
}

.portifolio_lista li:last-child {
    margin-top: 20px;
}

.portifolio .call p {
    color: white;
}

/* Qualidade */

.qualidade {
    padding: 60px 0;
}

.qualidade:after {
    content: "";
    width: 634px;
    height: 83px;
    background: url("../img/linhas.svg") no-repeat center;
    position: absolute;
    top: 209px;
    right: 162px;
}

.qualidade img {
    margin: 0 auto;
}

.qualidade_lista {
    padding-top:20px;
    overflow: auto;
}

.qualidade_lista li{
    text-align: center;
    padding: 0 40px;
}

.qualidade_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 20px;

}

.qualidade_lista li h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: black;
    margin: 6px auto;
}

/* Quebra */

.quebra {
    width: 100%;
    height: 220px;
    background: url("../img/bg-footer.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 40px;
}
.quebra .quote-externo {
    max-width: 400px;
}

/*Footer*/

.footer {
    width: 100%;
    background: black;
    color: white;
    padding: 20px 0;
}

.footer h3 {
    font-size: 18px;
    line-height: 25px;
    color: #FEC63E;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FEC63E;
    margin: 6px 0 12px;
}

.footer_historia {
    padding-right:40px;
}

.footer_contato ul li{
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, "Times New Roman", serif;
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_redes ul li a{
    border: 3px solid #fec63e;
    display: block;
    padding: 10px;
}

.footer_redes ul li a:hover {
    border-color: #fff;
}

.copy {
    width: 100%;
    background: #fec63e;
    padding: 20px 0;
}





